{
    "repositoryUrl": "https://github.com/mogenius/snoopy.git",
    "branches": [
        "main"
    ],
    "plugins": [
        [
            "@semantic-release/commit-analyzer",
            {
                "releaseRules": [
                    {
                        "type": "chore",
                        "scope": "deps",
                        "release": "patch"
                    }
                ]
            }
        ],
        [
            "@semantic-release/github",
            {
                "successComment": false,
                "failTitle": false
            }
        ],
        "@semantic-release/release-notes-generator"
    ]
}
